<footer class="footer">
    <div class="wrapper">
        <div role="banner" class="brand">
            <div class="social">
                <h2 class="footer-title">Location Péi</h2>
                <p>Ile de la Réunion - Saint Pierre</p>
                    <p>Nous suivre</p>

                    <a href="https://www.facebook.com/profile.php?id=100089732153323" target="_blank" rel="noopener"
                        aria-label="Nous suivre on Facebook" aria-describedby="a11y-new-window-message">
                        <img src="../../../assets/images/frontend/logo-facebook.webp" width="24px" height="24px"
                            alt="facebook www.dtentes.re">
                    </a>
                    <a href="https://www.youtube.com/channel/UCSt3jWhP5SrWWeg1NDCPqOg" target="_blank" rel="noopener"
                        aria-label="Nous suivre Youtube" aria-describedby="a11y-new-window-message">
                        <img src="../../../assets/images/frontend/logo-youtube.webp" width="24px" height="24px"
                            alt="Youtube www.dtentes.re">
                    </a>
            </div>
        </div>
        <div class="nav2">
            <h2 class="footer-title">Informations</h2>
            <div> <a [routerLink]="['/contact']" aria-label="Contactez-nous">Contactez-nous</a> </div>
            <div> <a [routerLink]="['/mentions-legales']" aria-label="Mentions Légales">Mentions légales</a> </div>
            <div> <a [routerLink]="['/cgv']" aria-label="Conditions générales de ventes">Condtions générales de
                    ventes</a> </div>

        </div>
        <div class="nav2">

            <h2 class="footer-title">Lieux de Détente</h2>
            <div>
                <a target="_blank" href="https://goo.gl/maps/2JPRQgagedsUes4eA">Volcan - Route des laves</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/2JPRQgagedsUes4eA">Trou d'eau</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/NvesdUxpjHnXfQmb8">Hermitage</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/aY9bSXyejctbXL9Y6">Saint Pierre</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/YY9MwT68XLLUhRn76">Volcan - Nez de boeuf</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/NoqjQewVWtcRYESZA">Etang Salé</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/Ju2vDnbpA7vXBkqq6">Piton des neiges</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/5WxKgLyxjj3nz6mn8">Cilaos</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/jQMT1Yeub8jsVa8s8">Mafate</a>
            </div>

        </div>

    </div>
    <div class="footer-extra">
        <h5 class="footer-extra-text">Site développé par Fred et Gaëtan</h5>
    </div>
</footer>