<footer class="footer">
    <div class="wrapper">
        <div role="banner" class="brand">
            <div>
                <svg width="80px" height="60px" viewBox="0 0 80 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <!-- Montagne -->
                    <path d="M36.5 82.2L47.5 63.2L58.5 82.2H76L47.5 32.9L19 82.2H36.5Z" fill="#36495E"></path>
                    <path d="M47.5 32.9V63.2L58.5 82.2H76L47.5 32.9Z" fill="url(#paint0_linear)"></path>
                    <path d="M115.5 82.2L104.5 63.2L93.5 82.2H76L104.5 32.9L133 82.2H115.5Z" fill="#36495E"></path>
                    <path d="M104.5 32.9V63.2L93.5 82.2H76L104.5 32.9Z" fill="url(#paint1_linear)"></path>
                    <path d="M104.5 0L76 49.3L47.5 0L0 82.2H19L47.5 32.9L76 82.2L104.5 32.9L133 82.2H152L104.5 0Z"
                        fill="url(#paint2_linear)"></path>



                    <defs>
                        <linearGradient id="paint0_linear" x1="61.7617" y1="82.2439" x2="61.7617" y2="32.8712"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#36495E"></stop>
                            <stop offset="1" stop-color="#0A1C33"></stop>
                        </linearGradient>
                        <!-- vert de montagne -->
                        <linearGradient id="paint2_linear" x1="76.0144" y1="82.2439" x2="76.0144" y2="-0.0439023"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.2" stop-color="#41B782"></stop>
                            <stop offset="1" stop-color="#86D169"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <span class="nom-domaine">Dtentes.re</span>
            </div>
            <p>Location et ventes de tentes de toit de voitures et vans de qualité</p>
            <p>Ile de la Réunion - Saint Pierre</p>
            <p>Leave no trace</p>

            <div class="social">
                <div>
                    <p>Nous suivre</p>
                </div>
                <!--
                <div>
                    <i class="fab fa-tiktok">
                        <div class="visually-hidden">Tiktok</div>
                    </i>
              </div>
              <div>
                <i class="fab fa-youtube">
                    <div class="visually-hidden">Youtube</div>
                </i>
          </div>
        -->

                <div class="facebook">
                    <a href="https://www.facebook.com/profile.php?id=100089732153323" target="_blank" rel="noopener"
                        aria-label="Nous suivre on Facebook" aria-describedby="a11y-new-window-message">
                        <img src="../../assets/social/logo-facebook.webp" width="50px" height="50px"
                            alt="facebook www.dtentes.re">
                    </a>
                </div>
                <div class="facebook">
                    <a href="https://www.youtube.com/channel/UCSt3jWhP5SrWWeg1NDCPqOg" target="_blank" rel="noopener"
                        aria-label="Nous suivre Youtube" aria-describedby="a11y-new-window-message">
                        <img src="../../assets/social/logo-youtube.webp" width="50px" height="50px"
                            alt="Youtube www.dtentes.re">
                    </a>
                </div>
                <!--      
                <div>
                    <i class="fab fa-pinterest">
                        <div class="visually-hidden">Pinterest</div>
                    </i>
              </div>
              <div>
                <i class="fab fa-instagram">
                    <div class="visually-hidden">Instagram</div>
                </i>
            </div>
            <div>
                <i class="fab fa-instagram">
                    <div class="visually-hidden">Twitter</div>
                </i>
            </div>
              </div>
            -->
            </div>
        </div>
        <div class="nav2">
            <h2 class="footer-title">Informations</h2>
            <div> <a [routerLink]="['/contact']" aria-label="Contactez-nous">Contactez-nous</a> </div>
            <div> <a [routerLink]="['/mentions-legales']" aria-label="Mentions Légales">Mentions légales</a> </div>
            <div> <a [routerLink]="['/cgv']" aria-label="Condtions générales de ventes">Condtions générales de
                    ventes</a> </div>

        </div>
        <div class="nav2">

                <h2 class="footer-title">Lieu de Dtentes</h2>
            <div>
                <a target="_blank" href="https://goo.gl/maps/2JPRQgagedsUes4eA">Volcan - Route des laves</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/2JPRQgagedsUes4eA">Trou d'eau</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/NvesdUxpjHnXfQmb8">Hermitage</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/aY9bSXyejctbXL9Y6">Saint Pierre</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/YY9MwT68XLLUhRn76">Volcan - Nez de boeuf</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/NoqjQewVWtcRYESZA">Etang Salé</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/Ju2vDnbpA7vXBkqq6">Piton des neiges</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/5WxKgLyxjj3nz6mn8">Cilaos</a>
            </div>
            <div>
                <a target="_blank" href="https://goo.gl/maps/jQMT1Yeub8jsVa8s8">Mafate</a>
            </div>

        </div>

    </div>
    <div class="delphine">
        <div>
            <h1>Site développé</h1>
            <p>Frédéric Lacoste avec <span>♥</span> - fred -</p>
            <p>Google analyse web site - cliquez sur l'image en dessous</p>
            <a href="https://pagespeed.web.dev/analysis/https-dtentes-re/pfqgrdr4zz?hl=fr&amp;form_factor=desktop"
                target="_blank" arial-label="analyse du site dtentes.re">
                <img src="../../assets/fred/dtentes-analyse-google-web-speed.webp" height="84px" width="360px"
                    alt="google web speed sur dtentes.re">
            </a>
            <p>Cliquez sur l'image au dessus pour vérifier</p>
            <h2>Si vous désirez être dans les premiers sur google : 06 92 74 29 58</h2>
            <p>Mathématicien - Statisticien - Programmeur - Entrepreneur - Enseignant - Mi aime 974</p>
        </div>

    </div>
    <div>
    </div>

</footer>