<h1 class="cgv-page-title">Conditions Générales de Vente</h1>
<h2 class="cgv-page-subtitle">Article 1 - Objet</h2>
<p class="cgv-page-text">Les présentes conditions générales de vente ont pour objet de définir les droits et obligations
    des parties dans le cadre de la vente de produits par la société XYZ.
</p>

<h2 class="cgv-page-subtitle">
    Article 2 - Prix

</h2>
<p class="cgv-page-text">
    Les prix des produits sont indiqués en euros et sont susceptibles d'être modifiés à tout moment par dtentes.
</p>
<h2 class="cgv-page-subtitle">
    Article 3 - Livraison

</h2>
<p class="cgv-page-text">
    La livraison des produits est effectuée à l'adresse indiquée par le client lors de la commande.</p>
<h2 class="cgv-page-subtitle">
    Définitions
</h2>
<p class="cgv-page-text">
    « CLIENT » : La personne procédant à un achat sur le SITE.
</p>
<p class="cgv-page-text">
    « DTENTES » : Raison sociale : Autoentrepreneur - frédéric Jean- Michel Lacoste
</p>
<p class="cgv-page-text">
    399 856 558 R.C..s Saint Pierre
</p>
<p class="cgv-page-text">
    Siège social : Avenue du Général de Gaulle, ST PIERRE, La Réunion - LIZINE
</p>
<p class="cgv-page-text">
    Téléphone : +262 692 74 29 58
</p>
<p class="cgv-page-text">
    Email : location.tente.reunion@gmail.com
</p>
<p class="cgv-page-text">
    Localisation sur Google Maps
</p>
<p class="cgv-page-text">
    « SITE » : définit le site web https://dtentes.re qui a pour objet la vente en ligne de tentes de toits ainsi que
    les
    accessoires liés au tente de toit</p>
<h2 class="cgv-page-subtitle">
    A quoi servent ces conditions générales ?
</h2>
<p class="cgv-page-text">
    2.1 Lorsque vous achetez un produit Campermen sur le SITE, vous souscrivez, en tant qu’acheteur, à un contrat de
    vente
    avec la société DTENTES, distributeur exclusif de ces produits en France.
</p>
<p class="cgv-page-text">
    2.2 Vos droits et vos obligations ainsi que ceux de DTENTES dans le cadre de cette vente sont organisés par ce
    contrat.</p>
<h2 class="cgv-page-subtitle">
    Sur la conclusion d’un contrat électronique sur le web
</h2>

<p class="cgv-page-text">
    3.1 Afin de finaliser un achat d’un produit dTENTES sur le SITE ou sur le lieu de vente, vous devez d’abord lire les
    conditions générales et les accepter en raison du processus nécessaire à la validation de l’achat.
</p>
<p class="cgv-page-text">
    3.2 Conformément à la loi, vous avez la possibilité de consulter, de télécharger et de sauvegarder ces conditions
générales.</p>
<p class="cgv-page-text">
    3.3 Quand le contrat est souscrit sur le SITE, le contrat est un contrat « électronique » qui respecte le formalisme
    imposé par la loi (article 1125 et suivants du code civil).
</p>
<p class="cgv-page-text">
    3.4 C’est ce processus qui valide le contrat que vous passez avec DTENTES pour acheter un produit Campermen sur le
    SITE.</p>
<p class="cgv-page-text">
    3.5 Les conditions générales de vente de DTENTES peuvent évoluer. Si vous effectuez d’autres achats, il vous est
    conseillé au CLIENT de relire les conditions générales de vente consultables sur le SITE au moment de chacun des
    achats
    éffectués</p>
<p class="cgv-page-text">
    3.6 La date d’établissement des conditions générales est clairement indiquée pour vous permettre de vérifier
    facilement
    d’éventuels changements.</p>
<h2 class="cgv-page-subtitle">
    Avertissement sur la description des produits vendus sur le SITE
</h2>
<p class="cgv-page-text">
    4.1 Pour vous permettre de visualiser le plus fidèlement possible nos produits disponibles à la vente, DTENTES
    utilise
    des photos,videos représentations graphiques ainsi que des vidéos.
</p>
<p class="cgv-page-text">
    4.2 Conformément à la loi (notamment l’article L.111-1 du code de la consommation), les caractéristiques
    essentielles
    des tentes Campermen sont décrites le plus précisément possible dans les descriptifs médias et/ou textuels.
</p>
<p class="cgv-page-text">
    4.3 Toutefois la taille et la qualité de l’écran utilisé pour visualiser les produits et la puissance de votre
    connexion
    peuvent altérer la bonne perception des médias.
</p>
<p class="cgv-page-text">
    4.4 Vous devez donc prendre connaissance attentivement des descriptifs que nous mettons à votre disposition, des
    informations présentes dans les manuels d’utilisation et d’installation téléchargeables sur le SITE, ou encore des
    informations données sur la page FAQ du SITE. En cas de doute sur un produit, contacter DTENTES pour obtenir les
    précisions nécessaires avant de procéder à l’achat. Le CLIENT peut contacter DTENTES aux coordonnées précisés en bas
    des
    présentes conditions générales de vente, ou pas l’intermédiaire du formulaire de contact mis à disposition sur le
    SITE.
</p>
<h2 class="cgv-page-subtitle">
    Indisponibilité du produit
</h2>
<p class="cgv-page-text">
    5.1 DTENTES vous informe de manière visible sur le SITE lorsqu’un produit n’est plus disponible à la vente.
</p>
<p class="cgv-page-text">
    5.2 Toutefois si DTENTES commet une erreur concernant la disponibilité d’un produit elle en informe l’acheteur qui
    peut,
    au choix :
</p>
<p class="cgv-page-text">
    Confirmer sa commande en acceptant un délai de livraison plus important que celui initialement indiqué
    Demander le remboursement du prix payé.
    Dans ce cas, DTENTES procédera au remboursement par virement bancaire, dans un délai de 10 jour ouvrés
<h2 class="cgv-page-subtitle">
    Tarifs
</h2>
<p class="cgv-page-text">
    6.1 Les prix des produits proposés à la vente sur le SITE sont exprimés en euros (€) et s’entendent « Toutes Taxes
    Comprises » incluant la TVA.
</p>
<p class="cgv-page-text">
    6.2 Les prix des produits peuvent évoluer entre chaque achat.</p>
<h2 class="cgv-page-subtitle">
    Commande sur le SITE

</h2>
<p class="cgv-page-text">
    7.1 Avant de finaliser l’achat sur le site ou sur le lieu physique de vente, il est fortement conseillé au CLIENT de
    vérifier :

    Le détail de votre commande

    Le prix total de votre commande

    La compatibilité des produits achetés avec le véhicule

    La compatibilité entre les différents produits achetés

    En cas de doute, d’information manquante ou d’incompréhension, il est recommandé au client de ne pas réalisé l’achat
    et
    de contacter DTENTES.
</p>
<p class="cgv-page-text">
    7.2 Une fois ces vérifications faites, et les informations additionnelles obtenues et comprises, vous serez invité à
    prendre connaissance des présentes conditions générales de vente sur le SITE. En cas d’accords avec ces conditions
    générales de vente, vous devrez formaliser alors son accord en cliquant sur la zone dédiée.
</p>
<p class="cgv-page-text">
    7.3 La commande est ensuite définitivement enregistrée si l’opération de paiement est acceptée par l’établissement
    bancaire.
</p>
<p class="cgv-page-text">
    7.4 Si la commande se fait sur le site web, Vous recevez un courrier électronique de confirmation indiquant les
    éléments
    essentiels de la commande passée (référence de commande, liste des produits commandés, rappel du prix…).
</p>
<p class="cgv-page-text">
    7.5 Le processus d’achat décrit est celui mis en place par le SITE par DTENTES pour la vente des produits Dtentes.
</p>
<h2 class="cgv-page-subtitle">
    Paiement et facture

</h2>
<p class="cgv-page-text">
    8.1 Sur notre SITE ou sur le lieu physique de vente, vous pouvez régler vos achats par carte bancaire, virement
    bancaire
    ou par chèque.
</p>
<p class="cgv-page-text">
    8.2 Les cartes bancaires acceptées sont précisées sur notre site web, à l’étape de paiement, lors de la validation
    de la
    commande.
</p>
<p class="cgv-page-text">
    8.3 Pour assurer la sécurité des transactions bancaires en ligne,
</p>
<p class="cgv-page-text">
    8.4 Chaque étape est cryptée et protégée. Le protocole utilisé est Secure Sockets Layer (SSL). Ainsi les
    informations
    liées à la commande et le numéro de la carte bancaire demeurent toujours confidentielles.
</p>
<p class="cgv-page-text">
    8.5 Les factures d’achat vous sont transmises par voie électronique (email). En cas de perte du document, vous
    pouvez en
    demander un duplicata en contactant DTENTES (Cf coordonnées en bas des présentes conditions générale de vente ou
    formulaire de contact sur le SITE).
</p>
<p class="cgv-page-text">
    8.7 Les frais d’expédition sont indiqués lors de la validation du panier.
</p>
<p class="cgv-page-text">
    8.8 Le détail des délais et frais de livraison est indiqué sur le SITE. En cas de doute, ou d’une volonté
    particulière
    en termes de mode de livraison ou de date de livraison, il vous est conseillé de contacter DTENTES avant de
    finaliser
    votre achat.</p>
<h2 class="cgv-page-subtitle">
    Livraison
</h2>
<p class="cgv-page-text">
    9.1 Les livraisons peuvent être réalisées partout sur l'ile de la Réunion.
</p>
<p class="cgv-page-text">
    9.2 Le coût, les délais et les modalités d’expédition peuvent varier en fonction de vos achats. Ces informations
    vous
    sont communiquées lors du processus d’achat et confirmés par email lors de la confirmation de la commande.
</p>
<p class="cgv-page-text">
    9.3 Lors de l’achat vous devez renseigner avec attention l’adresse de livraison car c’est elle qui sera utilisée
    pour
    l’expédition des produits commandés.

    Un moyen de contact par téléphone et email vous sera demandé. Il est conseillé de renseigner correctement ces
    informations, nécessaires pour le suivi de votre commande et sa bonne livraison

    Les délais de livraison sont indiqués sur le site, pour information.
</p>
<p class="cgv-page-text">
    9.5 Le colis vous est livré à l’adresse de livraison renseignée lors de la commande.
</p>
<p class="cgv-page-text">
    9.6 DTENTES fait intervenir des transporteurs pour la livraison de ses produits les plus volumineux. Celui-ci vous
    contacte quelques jours avant la livraison effective, pour convenir d’une date de livraison.
</p>
<p class="cgv-page-text">
    9.7 Les livraisons sont effectuées sous trente (40) jours en moyenne. Ce délai peut différer selon la période de
    livraison, les conditions d’accès à l’adresse de livraison ou encore la validation de la date de livraison avec le
    transporteur.</p>
<h2 class="cgv-page-subtitle">
    Droit de rétractation
</h2>
<p class="cgv-page-text">
    10.1 Vous bénéficiez d’un délai de rétractation de 14 jours
</p>
<p class="cgv-page-text">
    10.2 Le délai de 14 jours commence à courir à partir du lendemain de la réception du produit acheté.
</p>
<p class="cgv-page-text">
    10.3 Si ce délai se termine un samedi, un dimanche ou un jour férié, il est prolongé jusqu’au premier jour ouvrable
    suivant.
</p>
<p class="cgv-page-text">
    10.4 Si vous avez commandé plusieurs produits livrés séparément ou si votre commande constitue un lot de pièces
    multiples dont la livraison est échelonnée, le délai commence à la réception du dernier bien ou lot, ou de la
    dernière
    pièce.</p>
<p class="cgv-page-text">

    10.5 Pour vous rétracter, vous pouvez contacter DTENTES par voie postale ou par email (Cf coordonnées en bas des
    présentes conditions générales de vente), en communiquant a minima les informations suivantes :

Vos coordonnées : Nom, Prenom, Email et téléphone indiqués lors de la commande

Les références de la commande : N° de facture, N° de commande, bon de livraison (indiquant la date de livraison
effective) Produit(s) concerné(s) par la rétractation
</p>


<p class="cgv-page-text">
    10.6 L’article L 121-20-12 du Code de la consommation, vous accorde un délai légal de quatorze (14) jours francs à
    compter du jour de la réception du colis pour nous le retourner. Si ce délai expire un samedi, un dimanche ou un
    jour
    férié, il est prorogé jusqu’au premier jour ouvrable suivant.
</p>
<p class="cgv-page-text">
    10.7 Le produit doit être retourné dans son emballage d’origine et être en parfait état : si nous constatons des
    dégradations sur les produits retournés DTENTES se réserve le droit de refuser la reprise des produits et le
    remboursement et vous retourner le colis, à vos frais.
</p>
<p class="cgv-page-text">
    10.8 Conformément à l’article L221-23 du code de la consommation, vous supportez l’organisation et le coût du renvoi
    du
    ou des produits que vous retournez à DTENTES. Ce cout intègre notamment (sans que cette liste ne soit exhaustive)
    les
    frais de logistique, d’emballage et d’expédition à l’adresse de DTENTES.
</p>
<p class="cgv-page-text">
    10.9 Si le retour n’est pas refusé, le remboursement doit intervenir dans le délai de quatorze jours à compter du
    jour
    où DTENTES réceptionne l’article.</p>
<h2 class="cgv-page-subtitle">
    Transfert de propriété
</h2>
<p class="cgv-page-text">
    11.1 Le transfert de propriété des produits au profit du CLIENT n’intervient qu’après complet paiement du prix.
</p>
<p class="cgv-page-text">
    11.2 « Tout risque de perte ou d’endommagement des biens est transféré au consommateur au moment où ce dernier ou un
    tiers désigné par lui, et autre que le transporteur proposé par le professionnel, prend physiquement possession de
    ces
    biens » (article L134-8 du code de la consommation).
</p>
<p class="cgv-page-text">
    11.3 Quand le CLIENT prend possession des biens, il doit obligatoirement contrôler leur état en présence du
    transporteur
    et formuler les réserves relatives aux dégradations constatées, directement auprès du livreur qui est tenu de les
    enregistrer.
</p>
<p class="cgv-page-text">
    11.4 Le CLIENT est invité à prendre très attentivement connaissance des consignes qui lui sont communiquées par
    email
    avant la livraison.
</p>
<p class="cgv-page-text">
    11.5 Le livreur ne peut pas refuser d’enregistrer ces réserves qui constituent un moyen de preuve en cas de litige.
</p>
<p class="cgv-page-text">
    11.6 En cas de refus du livreur d’enregistrer les réserves, il est conseillé au CLIENT de refuser la livraison.
</p>
<p class="cgv-page-text">
    11.7 En cas de dommage de l’emballage, vous devez l’indiquer sur le bon de livraison, et avec le maximum de détails
    (état de l’emballage, de la tente…). Il vous est également conseillé de prendre des photos et de les transmettre à
    DTENTES (Cf coordonnées au bas de ces présentes conditions générales de vente).
</p>
<p class="cgv-page-text">
    11.8 En cas de détérioration ou tout autre problème pouvant altérer l’aspect ou le bon fonctionnement de la tente,
    vous
    devrez refuser la livraison, et indiquer sur le bon de livraison la raison précise du refus (avec le maximum de
    détails
    liés aux dommages constatés en présence du livreur). Il vous est également conseillé de prendre des photos et de les
    transmettre à DTENTES (Cf coordonnées au bas de ces présentes conditions générales de vente).
</p>
<p class="cgv-page-text">
    11.8 Le CLIENT peut ensuite exercer un recours auprès du transporteur fautif.
</p>
<h2 class="cgv-page-subtitle">
    Garantie
</h2>
<p class="cgv-page-text">
    12.1 Campermen garantit la conformité des produits commandés et répond des défauts de conformité existant lors de la
    délivrance (article L.217-4 du code de la consommation) et pendant une durée de 2 années calendaires courant à
    compter
    de la réception du bien (article L.217-7 du code de la consommation).
</p>
<p class="cgv-page-text">
    12.2 En cas de défaut de conformité, le CLIENT peut demander à DTENTES :

    ➢ soit la réparation du produit

    ➢ soit le remplacement du produit.
</p>
<p class="cgv-page-text">
    12.3 DTENTES demeure libre de privilégier la solution la moins onéreuse en cas de coût manifestement disproportionné
    de
    la solution souhaitée par le CLIENT au regard de la valeur du bien ou de l’importance du défaut (article L217-9 du
    code
    de la consommation).
</p>
<p class="cgv-page-text">
    12.4 Si aucune des solutions évoquées n’est possible, ou ne peut être réalisée dans un délai d’un mois à compter de
    la
    réclamation, ou si cette solution présente un inconvénient majeur pour le CLIENT compte tenu de la nature du produit
    et
    de l’usage qu’il recherche, le CLIENT peut (article L217-10 du code de la consommation) :

    ➢ restituer le produit et se faire rembourser.

    ➢ conserver le produit et se faire rembourser une partie du prix.
</p>
<p class="cgv-page-text">
    12.5 Si le PRODUIT est renvoyé à DTENTES, les frais de retour sont remboursés sur justificatifs (facture de la
    société
    de transmport)
</p>
<p class="cgv-page-text">
    12.6 En application de l’article 3 de l’Arrêté du 18 décembre 2014 relatif aux informations contenues dans les
    conditions générales de vente en matière de garantie légale le présent encadré rappelle les droits du consommateur
    en
    matière de garantie :

    « Lorsqu’il agit en garantie légale de conformité, le consommateur :

    – bénéficie d’un délai de deux ans à compter de la délivrance du bien pour agir ;

    – peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par
    l’article
    L. 211-9 du code de la consommation ;

    – est dispensé de rapporter la preuve de l’existence du défaut de conformité du bien durant les six mois suivant la
    délivrance du bien. Ce délai est porté à vingt-quatre mois à compter du 18 mars 2016, sauf pour les biens
    d’occasion.

    La garantie légale de conformité s’applique indépendamment de la garantie commerciale éventuellement consentie.

    Le consommateur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de
    l’article 1641 du code civil. Dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction
    du
    prix de vente conformément à l’article 1644 du code civil. »</p>
<h2 class="cgv-page-subtitle">
    Force majeure
</h2>
<p class="cgv-page-text">
    13.1 Conformément à l’article 1218 du code civil, tout manquement à l’une quelconque des obligations de la présente
    convention occasionné par un cas de force majeure, exonérera les parties de leur responsabilité.
</p>
<p class="cgv-page-text">
    13.2 Si un tel événement se produit, DTENTES ne pouvant exécuter sa prestation en informe le CLIENT par tous moyens
    dans
    les meilleurs délais.
</p>
<p class="cgv-page-text">
    13.3 La suspension des obligations ou le retard ne pourra en aucun cas être une cause de responsabilité pour
    non-exécution des obligations de la partie en cause, ni induire le versement de dommages-intérêts ou pénalités de
    retard
    à sa charge.</p>
<h2 class="cgv-page-subtitle">
    Propriété intellectuelle
</h2>
<p class="cgv-page-text">
    14.1 L’ensemble du contenu du SITE incluant, de façon non limitative, les graphismes, images, textes, vidéos,
    animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société
    DTENTES à
    l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs : toute
    reproduction,
    distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments
    est
    strictement interdite sans son accord exprès par écrit.</p>
<p class="cgv-page-text">

    14.2 Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée
    par
    les articles L.3335-2 et suivants du Code de la propriété intellectuelle.</p>
<p class="cgv-page-text">

    14.3 Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et
    pénale
    du contrefacteur. En outre, il est rappelé que les contrevenants s’exposent à ce que les propriétaires des contenus
    copiés leur intentent une action en justice sur ces bases. DTENTES est également propriétaire des « droits des
    producteurs de bases de données » visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n°
    98-536 du
    1er juillet 1998) relative aux droits d’auteur et aux bases de données</p>
<h2 class="cgv-page-subtitle">
    Données personnelles
</h2>
<p class="cgv-page-text">
    15.1 La simple consultation du SITE ne nécessite pas d’inscription ni d’identification auprès de DTENTES.
</p>
<p class="cgv-page-text">
    15.2 DTENTES est le responsable du traitement des données personnelles collectées.
</p>
<p class="cgv-page-text">
    15.3 Cette collecte de données s’opère dans le respect des dispositions du RÈGLEMENT (UE) 2016/679 DU PARLEMENT
    EUROPÉEN
    ET DU CONSEIL du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à
    caractère personnel et à la libre circulation de ces données (Règlement Général sur la Protection des Données à
    caractère personnel ou RGPD).
</p>
<p class="cgv-page-text">
    15.4 Les données personnelles collectées lorsque vous effectuez un achat sont les suivantes : nom, prénom, adresse
    postale, adresse email, numéro de téléphone portable.
</p>
<p class="cgv-page-text">
    15.5 La collecte de données personnelles est opérée sur le fondement des articles 6.1.b et 6.1.c du RGPD susvisé.
</p>
<p class="cgv-page-text">
    15.6 Conformément aux article 15 à 22 du RGPD, concernant les données que DTENTES détient sur vous, sous réserve du
    respect des dispositions légales et réglementaires et des nécessités contractuelles, vous disposez des droits
    suivants :
    droit d’accès, droit de rectification, droit d’effacement, droit à la limitation du traitement, droit de
    notification
    des rectifications, effacements, limitation, droit à la portabilité des données, droit d’opposition, droit de ne pas
    faire l’objet d’un profilage.</p>
<p class="cgv-page-text">

    15.7 Pour mettre en œuvre ces droits, écrivez à l’adresse électronique suivante : location.tente.reunion@gmail.
</p>
<p class="cgv-page-text">
    15.8 Dans le cadre d’une telle demande nous vous demanderons d’apporter une justification de votre identité afin
    d’en
    vérifier l’exactitude.
</p>
<p class="cgv-page-text">
    15.9 En dehors des durées légales imposant des délais de conservation plus long, les données personnelles collectées
    sont conservées une année à compter du dernier achat.</p>
<h2 class="cgv-page-subtitle">
    Droit applicable – Litiges
</h2>
<p class="cgv-page-text">
    16.1 Nos conditions générales sont soumises au droit français.
</p>
<p class="cgv-page-text">
    16.2 En cas de litige, le consommateur est informé qu’il peut recourir à un médiateur de la consommation, dans les
    conditions définies aux Articles L. 611-1 et suivants du Code de la consommation, et selon le dispositif accessible
    à
    l’adresse Internet : www.economie.gouv.fr/mediation-conso.
</p>
<p class="cgv-page-text"> 16.3 Après démarche préalable écrite des consommateurs vis-à-vis de DTENTES, le Service du
    Médiateur peut être saisi pour tout litige de consommation dont le règlement n’aurait pas abouti.></p>
<h2 class="cgv-page-subtitle">
    Adresse et Contact
</h2>
<p class="cgv-page-text">
    Pour tout communication :</p>
<p class="cgv-page-text">
    DTENTES 259 avenue du general de Gaulle 97410 Saint Pierre
</p>
<p class="cgv-page-text">Email : location.vente.reunion@gmail.com</p>
<p class="cgv-page-text">En cas de retour de produits, l’adresse de livraison est à confirmer avec nous
    au préalable, en nous contactant par email à contact@dtentes.re</p>