.cgv-page-title {
    font-size: 28px;
    color: var(--clr-main-dark);
    font-weight: 700;
    margin: 20px 7.5% 40px 7.5%;

}

.cgv-page-subtitle {
    font-size: 22px;
    color: var(--clr-main-dark);
    font-weight: 700;
    margin: 20px 7.5%;
    border-left: 4px solid var(--clr-cta);
    padding-left: 4px;
}

.cgv-page-text {
    font-size: 16px;
    padding: 8px 0px;
    margin: 0 7.5%;
    color: #333;
}