footer {
    background: linear-gradient(#041830,#080117);
    border-bottom: 40px solid #080117;
    color: #fff;
    position: relative;
    padding: 20px 0 45px;
    }


.footer.index {
    padding-top : 2px;
    background-image: url(../../assets/images/footer/footer.svg);
    background-position: top;
    background-size: cover;
    z-index: 5;
}

@media screen and (min-width: 40em){
.wrapper{
    text-align: left;
    grid-template-columns: 1fr 22% 22%;
    grid-column-gap: 4%;
    grid-template-areas: "brand nav-1 nav-2";
    padding-left: 20px;
}
}
.wrapper {
    display: grid;
    padding-left:10px;
    padding-right:10px;
}

.wrapper p {
    padding-left: 10px;
}


@media screen and (min-width: 78em){
.wrapper {
    margin: 0 auto;
    padding: 0 4rem;
}
}
.wrapper {
    width: 100%;

}

.social {
    display: flex;
    flex-direction: column;
    font-size: 1,2em;
}



.fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.Facebook::before {
   font: var(--fa-font-brands);
    content: ' \f09a';
 }

 .nav1-element{
    padding: 5px 20px 5px 0px;
 }
 .nav1-element a {
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    margin-bottom:20px;

 }
 .nav2 h1 {
    padding-left:10px;
 }
 .nav2 div {
    padding-left:10px;
    padding-bottom: 10px;
    padding-top: 10px;
 }
 .icon{
  display : inline-block;
  fill: currentColor;
  vertical-align: middle;
  background: none;
  overflow: visible;
  width: 28px;
  height:28px;
  opacity: .4;
 }
 .icon--facebook{
    background-color: blue;
  }

  .delphine{
    background-color: #006400;
    color: white; 
    font-weight: 80o;
    line-height: 1rem;
    padding : 20px 0px 20px 20px;
 }

 .image_performance_google_web_speed{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: flex-start;
    
 }
