.login-title {
  font-size: 30px;
  color: var(--clr-main-dark);
  font-weight: 700;
  margin-bottom: 12px;
}

.login-subtitle {
  font-size: 18px;
  color: #64748B;
  font-weight: 500;
  margin-bottom: 40px;
}

.login-form {
  width: fit-content;
  z-index: 20;
  margin: auto;
  padding: 40px;
  border-radius: 2px;
  box-shadow: 2px 2px 12px 3px #00000010;
  position: relative;
}

.login-form:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background-color: var(--clr-cta-lighter);
  top: 0;
  right: 0;
  clip-path: circle(50% at 100% 0);
  border-top-right-radius: 2px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  max-width: 400px;
}

.login-form-input:focus {
  border: 2px solid var(--clr-cta);
  outline: none;
}

.error-message {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #64748B;
  padding: 10px;
  width: fit-content;
  box-shadow: 0 0 5PX 1PX #00000010;
  margin-top: 10px;
  border-radius: 2px;
}

.invalid {
  border-bottom: 2px solid var(--clr-main-dark);
}

#image-preview {
  border-radius: 4px;
}