.product-container {
    padding: 20px 7% 20px 7%;
    display: flex;
    flex-wrap: wrap;
}

.product-galerie-container {
    width: 500px;
    background-color: #F1F5F9;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: 500px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 600px;
}

.galerie-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.galerie-image0 { grid-area: 1 / 1 / 2 / 6; }
.galerie-image1 { grid-area: 2 / 1 / 3 / 2; }
.galerie-image2 { grid-area: 2 / 2 / 3 / 3; }
.galerie-image3 { grid-area: 2 / 3 / 3 / 4; }
.galerie-image4 { grid-area: 2 / 4 / 3 / 5; }
.galerie-image5 { grid-area: 2 / 5 / 3 / 6; }

.product-detail-container {
    width: calc(100% - 500px);
    padding-left: 40px;
}

.product-detail-title {
    font-size: 28px;
    color: #334155;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 20px;
}

.product-detail-description {
    font-size: 16px;
    color: #222;
    line-height: 150%;
    margin-bottom: 20px;
}

.product-detail-price, .product-detail-weight{
    font-size: 22px;
    color: #334155;
    line-height: 150%;
    margin-bottom: 10px;
    font-weight: 600;
    border-left: 4px solid #29afe2;
    padding-left: 5px;
}
.product-detail-quantity {
    font-size: 18px;
    color: #222;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.product-detail-quantity-action {
    background-color: #F1F5F9;
    height: 24px;
    font-family: Lexend;
    width: 24px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: #162445;
    cursor: pointer;
    border-radius: 4px;
}

.product-detail-action {
    padding: 16px 12px;
    background-color: #29afe2;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    width: fit-content;
    font-weight: 600;
    cursor: pointer;
}


@media screen and (max-width: 1300px) {
    
.product-galerie-container {
order: 1;
}

.product-detail-container {
    order: 0;
    width: 100%;
    }

}