<h1 class="contact-page-title">Contactez-nous</h1>
<h2 class="contact-page-subtitle">Formulaire de contact</h2>

<div class="contact-page-form-container">
    <form class="contact-page-form">
<div class="contact-page-form-group">
    <label for="" class="contact-page-form-label">Nom complet</label>
    <input type="text" class="contact-page-form-input" placeholder="...">
</div>
<div class="contact-page-form-group">
    <label for="" class="contact-page-form-label">Adresse e-mail</label>
    <input type="text" class="contact-page-form-input" placeholder="...">
</div>
<div class="contact-page-form-group">
    <label for="" class="contact-page-form-label">Numéro de téléphone</label>
    <input type="text" class="contact-page-form-input" placeholder="...">
</div>
<div class="contact-page-form-group">
    <label for="" class="contact-page-form-label">Objet</label>
    <input type="text" class="contact-page-form-input" placeholder="...">
</div>
<div class="contact-page-form-group-large">
    <label for="" class="contact-page-form-label">Message</label>
    <input type="text" class="contact-page-form-input" placeholder="...">
</div>
    </form>
</div>
<h2 class="contact-page-subtitle">Coordonnées</h2>
<div class="contact-page-coordonnee-group">
    <a href="tel:0692742958" class="contact-page-coordonnee-text">06 92 74 29 58</a>
</div>
<div class="contact-page-coordonnee-group">
    <a href="mailto:location.tente.reunion@gmail.com" class="contact-page-coordonnee-text">location.tente.reunion@gmail.com</a>
</div>
<div class="contact-page-coordonnee-group">
    <a target="_blank" href="https://www.google.com/maps/@-21.3602509,55.523351,17z?entry=ttu" class="contact-page-coordonnee-text">Lizine Usine 97410 Grand Bois - Saint Pierre Ile de la Réunion</a>
</div>
