.toolbar {
  color: #64748b;
    font-weight: 600;
  }

  .page-header {
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    height: 92px;
    border-bottom: 3px solid #F1F5F9;
  }

  .toolbar a {
    color: #64748b;
    text-decoration: none;
  }

  .toolbar-annonce {
    background-color: #d9246515;
    color: #d92465;
    font-size: 16px;
    padding: 16px 24px;
    border-radius: 4px;
    font-weight: bold;
  }

  .svg-icon {
    width: 24px; 
    height: 24px;
    margin-right: 5px; 
    vertical-align: middle;
  }