<h1 class="page-title">Qui sommes-nous ?</h1>
<div class="about-profil-container">
    <div class="about-profil-card">
        <div class="about-profil-card-image-fred"></div>
        <h3 class="about-profil-card-name">Frederic Lacoste</h3>
        <p class="about-profil-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cumque
            beatae soluta alias blanditiis mollitia, ex enim? Architecto, quam accusamus impedit, temporibus</p>
    </div>
    <div class="about-profil-card">
        <div class="about-profil-card-image-gaetan"></div>
        <h3 class="about-profil-card-name">Gaëtan Lavit</h3>
        <p class="about-profil-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cumque
            beatae soluta alias blanditiis mollitia, ex enim? Architecto, quam accusamus impedit, temporibus</p>
    </div>
</div>