.product-container {
    display: flex;
    padding: 16px 7% 0 7%;
}

.product-container-left {
    width: 75%;
    padding-right: 20px;
}

.product-container-right {
    width: 25%;
}

.product-page-title {
    font-size: 28px;
    color: #334155;
    font-weight: 700;
    line-height: 150%;
    margin: 20px 7% 8px 7%;
}

.product-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}



.product-card {
    width: calc(25% - 12px);
    max-width: 600px;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 2px #22222210;
    border-radius: 4px;
    height: fit-content;
    position: relative;
    padding: 24px;
}

.product-card-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: left;
    margin-bottom: 12px;
}

.product-card-title {
    font-size: 17px;
    color: #222;
    margin-bottom: 12px;
}

.product-card-link {
    background-color: #29afe215;
    color: #29afe2;
    font-size: 15px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;

}

.product-card-louer {
    background-color: #29afe2;
    color: #fff;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: bold;
    outline: none;
    border: none;
    text-decoration: none;
    margin-right: 12px;
}

.product-show-more {
    padding: 12px;
    background-color: #29afe2;
    outline: none;
    border: none;
    font-size: 24px;
    color: #fff;
    line-height: 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

@media screen and (max-width:1300px) {

    .product-card {
        width: calc(50% - 20px);
    }
}


@media screen and (max-width:760px) {

    .product-card {
        width: 100%;
        max-width: 100%;
    }
}