.product-title {
    font-size: 28px;
    color: #222;
    font-weight: 700;
    padding: 48px 10% 0 10%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 10%;
}

.product-card {
    width: calc(25% - 32px);
    max-width: 600px;
    margin-right: 32px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 1px #00000015;
    margin-bottom: 32px;
    height: fit-content;
    position: relative;
}

.product-card-price {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    color: #334155;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.product-card-image {
    width: fit-content;
    max-height: 160px;
    object-fit: contain;
    object-position: left;
    margin: 20px 20px 8px 20px;
    background-color: #F1F5F9;
}

.product-card-title {
    font-size: 18px;
    padding: 8px 20px;
    color: #334155;
}

.product-card-description {
    font-size: 15px;
    padding: 8px 20px;
    margin-bottom: 8px;
    color: #333;

}

.product-card-link {
    color: #FFF;
    background-color: #d92465;height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
    margin: 10px 20px 20px 20px;
    text-decoration: none;
}

.product-show-more {
    padding: 12px;
    margin: 0 10%;
    background-color: #d92465;
    outline: none;
    border: none;
    font-size: 24px;
    color: #fff;
    line-height: 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

@media screen and (max-width:1300px) {

    .product-card {
        width: calc(50% - 20px);
    }
}


@media screen and (max-width:760px) {

    .product-card {
        width: 100%;
        max-width: 100%;
    }
}