
<!-- <div class="page-product-categorie">
    <div class="page-product-categorie-item">
        <div class="page-product-categorie-item-bouton"></div>
        <span class="page-product-categorie-item-text">Surf</span>
    </div>
    <div class="page-product-categorie-item">
        <div class="page-product-categorie-item-bouton"></div>
        <span class="page-product-categorie-item-text">Bivouac</span>
    </div>
    <div class="page-product-categorie-item">
        <div class="page-product-categorie-item-bouton"></div>
        <span class="page-product-categorie-item-text">Autres</span>
    </div>
</div> -->


<div>
    <div *ngFor="let product of products.slice(produit_depart, produit_arrivee)">
        {{ product.name }} <a [title]="product.name + ' details'"
            [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute]">
            {{ product.name }}
        </a>
    </div>
        <button (click)="changeParam()">+</button>
</div>