<h1 class="mentions-page-title">Mentions Légales</h1>

<h2 class="mentions-page-subtitle">I - Informations légales</h2>
<p class="mentions-page-text">399 856 558 R.C..s Saint Pierre</p>
<p class="mentions-page-text">Siège social : Avenue du Général de Gaulle, ST PIERRE, La Réunion - LIZINE</p>
<p class="mentions-page-text">Téléphone : +262 692 74 29 58</p>
<p class="mentions-page-text">Email : location.tente.reunion@gmail.com</p>
<p class="mentions-page-text">Localisation sur Google Maps</p>

<h2 class="mentions-page-subtitle">II - Non-communication des données personnelles</h2>
<p class="mentions-page-text">
    https://dtentes.re s’interdit de traiter, héberger ou transférer les Informations collectées sur ses Clients vers un
    pays situé en dehors de l’Union européenne ou reconnu comme « non adéquat » par la Commission européenne sans en
    informer préalablement le client. Pour autant, https://dtentes.re reste libre du choix de ses sous-traitants
    techniques
    et commerciaux à la condition qu’il présentent les garanties suffisantes au regard des exigences du Règlement
    Général
    sur la Protection des Données (RGPD : n° 2016-679).</p>
<p class="mentions-page-text">

    https://dtentes.re s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des
    Informations
    et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident impactant
    l’intégrité ou la confidentialité des Informations du Client est portée à la connaissance de https://dtentes.re,
    celle-ci devra dans les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises.
    Par
    ailleurs https://dtentes.re ne collecte aucune « données sensibles ».</p>
<p class="mentions-page-text">

    Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de https://dtentes.re et des
    sous-traitants (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.
</p>
<p class="mentions-page-text">

    Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales
    personnes
    susceptibles d’avoir accès aux données des Utilisateurs de https://www.dtentes.re sont principalement les agents de
    notre service client.</p>
<h2 class="mentions-page-subtitle">III - Droit d’accès, de rectification et d’opposition</h2>
<p class="mentions-page-text">Conformément à la réglementation européenne en vigueur, les Utilisateurs de
    https://dtentes.re disposent des droits
    suivants : </p>
<p class="mentions-page-text">
    droit d’accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données
    des Utilisateurs
</p>
<p class="mentions-page-text">droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel
    (article
    17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la
    communication ou la conservation est interdite</p>
<p class="mentions-page-text">

    droit de retirer à tout moment un consentement (article 13-2c RGPD)
</p>
<p class="mentions-page-text">
    droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
</p>
<p class="mentions-page-text">
    droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)
</p>
<p class="mentions-page-text">
    droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de
    traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)
</p>
<p class="mentions-page-text">
    droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui https://dtentes.re
    devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné
</p>
<p class="mentions-page-text">
    Dès que https://dtentes.re a connaissance du décès d’un Utilisateur et à défaut d’instructions de sa part,
    https://dtentes.re s’engage à détruire ses données,
    sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour répondre à une obligation légale.
</p>
<p class="mentions-page-text">
    Si l’Utilisateur souhaite savoir comment https://dtentes.re utilise ses Données Personnelles, demander à les
    rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter https://dtentes.re par écrit à l’adresse
    suivante :
</p>
<p class="mentions-page-text">
    DTENTES 259 AV GENERALE DE GAULLE - saint pierre - lizine
</p>
<p class="mentions-page-text">
    Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que https://dtentes.re corrige,
    mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou
    passeport).
</p>
<p class="mentions-page-text">
    Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à
    https://dtentes.re par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les
    Utilisateurs de https://dtentes.re peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de
    la CNIL (https://www.cnil.fr/fr/plaintes).</p>
<h2 class="mentions-page-subtitle">IV - SECURITE</h2>
<p class="mentions-page-text">Pour assurer la sécurité et la confidentialité des Données Personnelles et des Données
    Personnelles de Santé,
    https://dtentes.re utilise des réseaux protégés par des dispositifs standards tels que par pare-feu, la
    pseudonymisation, l’encryption et mot de passe.

    Lors du traitement des Données Personnelles, https://dtentes.re prend toutes les mesures raisonnables visant à les
    protéger contre toute perte, utilisation détournée, accès non autorisé, divulgation, altération ou destruction.
<h2 class="mentions-page-subtitle">V - NOTIFICATION INCIDENT</h2>

<p class="mentions-page-text">

    Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode de stockage
    électronique n’est complètement sûre. Nous ne pouvons en conséquence pas garantir une sécurité absolue. Si nous
    prenions connaissance d’une brèche de la sécurité, nous avertirions les utilisateurs concernés afin qu’ils puissent
    prendre
    les mesures appropriées. Nos procédures de notification d’incident tiennent compte de nos obligations légales,
    qu’elles
    se situent au niveau national ou européen. Nous nous engageons à informer pleinement nos clients de toutes les
    questions relevant de la sécurité de leur compte et à leur fournir toutes les informations nécessaires pour les
    aider à
    respecter leurs propres obligations réglementaires en matière de reporting.</p>
<p class="mentions-page-text">

    Aucune information personnelle de l’utilisateur du site https://dtentes.re n’est publiée à l’insu de l’utilisateur,
    échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat de
    https://dtentes.re et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui
    serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de
    l’utilisateur du site https://dtentes.re.</p>
<h2 class="mentions-page-subtitle">VI - COOKIES</h2>
<p class="mentions-page-text">Un « cookie » est un petit fichier d’information envoyé sur le navigateur de l’Utilisateur
    et enregistré au sein du terminal de l’Utilisateur (ex : ordinateur, smartphone), (ci-après « Cookies »). Ce fichier
    comprend des
    informations telles que le nom de domaine de l’Utilisateur, le fournisseur d’accès Internet de l’Utilisateur, le
    système
    d’exploitation de l’Utilisateur, ainsi que la date et l’heure d’accès. Les Cookies ne risquent en aucun cas
    d’endommager le terminal de l’Utilisateur. https://dtentes.re est susceptible de traiter les informations de
    l’Utilisateur
    concernant sa visite du Site, telles que les pages consultées, les recherches effectuées. Ces informations
    permettent à
    https://dtentes.re d’améliorer le contenu du Site, de la navigation de l’Utilisateur.
</p>
<p class="mentions-page-text">
    Les Cookies facilitant la navigation et/ou la fourniture des services proposés par le Site, l’Utilisateur peut
    configurer son navigateur pour qu’il lui permette de décider s’il souhaite ou non les accepter de manière à ce que
    des Cookies soient enregistrés dans le terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit
    selon leur émetteur. L’Utilisateur peut également configurer son logiciel de navigation de manière à ce que
    l’acceptation
    ou le refus des Cookies lui soient proposés ponctuellement, avant qu’un Cookie soit susceptible d’être enregistré
    dans
    son terminal. https://dtentes.re informe l’Utilisateur que, dans ce cas, il se peut que les fonctionnalités de son
    logiciel de navigation ne soient pas toutes disponibles.
</p>
<p class="mentions-page-text">
    Si l’Utilisateur refuse l’enregistrement de Cookies dans son terminal ou son navigateur, ou si l’Utilisateur
    supprime ceux qui y sont enregistrés, l’Utilisateur est informé que sa navigation et son expérience sur le Site
    peuvent être
    limitées. Cela pourrait également être le cas lorsque https://dtentes.re ou l’un de ses prestataires ne peut pas
    reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par le terminal, les paramètres de
    langue et d’affichage ou le pays depuis lequel le terminal semble connecté à Internet.
</p>
<p class="mentions-page-text">
    Le cas échéant, https://dtentes.re décline toute responsabilité pour les conséquences liées au fonctionnement
    dégradé du Site et des services éventuellement proposés par https://dtentes.re, résultant (i) du refus de Cookies
    par
    l’Utilisateur (ii) de l’impossibilité pour https://dtentes.re d’enregistrer ou de consulter les Cookies nécessaires
    à leur
    fonctionnement du fait du choix de l’Utilisateur. Pour la gestion des Cookies et des choix de l’Utilisateur, la
    configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide du navigateur, qui permettra
    de savoir de quelle manière l’Utilisateur peut modifier ses souhaits en matière de Cookies.
</p>
<p class="mentions-page-text">
    À tout moment, l’Utilisateur peut faire le choix d’exprimer et de modifier ses souhaits en matière de Cookies.
    https://dtentes.re pourra en outre faire appel aux services de prestataires externes pour l’aider à recueillir et
    traiter les informations décrites dans cette section.
</p>
<p class="mentions-page-text">
    Enfin, en cliquant sur les icônes dédiées aux réseaux sociaux Twitter, Facebook, Linkedin et Google Plus figurant
    sur le
    Site de https://dtentes.re ou dans son application mobile et si l’Utilisateur a accepté le dépôt de cookies en
    poursuivant sa navigation sur le Site Internet ou l’application mobile de https://dtentes.re, Twitter, Facebook,
    Linkedin et Google Plus peuvent également déposer des cookies sur vos terminaux (ordinateur, tablette, téléphone
    portable).
</p>
<p class="mentions-page-text">
    Ces types de cookies ne sont déposés sur vos terminaux qu’à condition que vous y consentiez, en continuant votre
    navigation sur le Site Internet ou l’application mobile de https://dtentes.re. À tout moment, l’Utilisateur peut
    néanmoins revenir sur son consentement à ce que https://dtentes.re dépose ce type de cookies.</p>
<h2 class="mentions-page-subtitle">VII - Droit applicable et attribution de juridiction.</h2>
<p class="mentions-page-text">Tout litige en relation avec l’utilisation du site https://www.dtentes.re est soumis au
    droit français. En dehors des
    cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Saint
    Pierre - île de la Réunion</p>