.login-container {
  width: 100%;
  background: var(--clr-main-dark);
  display: flex;
  flex-wrap: wrap;
}

.login-left {
  width: 50%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.login-left:before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: var(--clr-grey-light);
  top: 200px;
  left: -100px;
  position: absolute;
  z-index: 10;
}

.login-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.login-thumbnail {
  max-width: 80%;
  border-radius: 400px;
}

.login-title {
  font-size: 30px;
  color: #000;
  font-weight: 700;
  margin-bottom: 12px;
}

.login-subtitle {
  font-size: 18px;
  color: #64748B;
  font-weight: 500;
  margin-bottom: 40px;
}

.login-form {
  min-width: 300px;
  width: 50%;
  z-index: 20;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  max-width: 400px;
}

.login-form-input:focus {
  border: 2px solid var(--clr-cta);
  outline: none;
}

.error-message {
  font-size: 14px;
  font-weight: 600;
  color: #64748B;
  padding: 10px 2px;
}

.invalid {
  border-bottom: 2px solid var(--clr-error);
}


@media screen and (max-width:960px) {
  .login-left {
    width: 100%;
  }

  .login-right {
    display: none;
  }
}