.toolbar {
  color: var(--clr-grey-light);
  font-weight: 600;
}

.page-header {
  padding: 20px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-main-dark);
  height: 92px;
}

.toolbar a {
  color: var(--clr-grey-light);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 17px;
  position: relative;
}

.toolbar-login {
  padding: 16px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toolbar-login-text {
  font-weight: bold;
  color: var(--clr-grey-light);
  margin-left: 12px;
  font-size: 17px;
  position: relative;
}

.toolbar-login-text:before, .toolbar-link:before {
  transition: .3s;
  content: "";
  width: 0;
  position: absolute;
  height: 3px;
  background-color: var(--clr-cta);
  bottom: -4px;
}


.toolbar-login:hover .toolbar-login-text:before, .toolbar-link:hover:before {
  width: 100%;
}

.toolbar-profil-container {
  border-radius: 48px;
  display: inline-block;
  background-color: white;
  position: relative;
  margin-right: 20px;
}

.toolbar-profil-figure {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-profil-container:hover .toolbar-profil-submenu {
  display: block;
}

.toolbar-profil-submenu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 10px 10px 1px #00000020;
  border-radius: 4px;
  z-index: 100;
  border: 2px solid var(--clr-grey-light);
  padding: 8px;
}


.toolbar-profil-submenu:hover {
  display: block;
}

.toolbar-profil-subcontainer {
  display: inline-flex;
  border-radius: 4px;
  transition: .3s;
  text-decoration: 2px solid transparent;
  cursor: pointer;
  padding: 12px;
  width: 100%;
}

.toolbar-profil-subimage {
  margin-right: 12px;
}

.toolbar-profil-subtext {
  color: var(--clr-main-dark);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  width: max-content;
}

.toolbar-profil-subcontainer:hover {
  text-decoration: underline solid var(--clr-cta) 2px;
}

.short-name {
  text-transform: uppercase;
}


.toolbar-panier-count {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: var(--clr-cta);
  border-radius: 50px;
  top: calc(50% - 12px);
  right: -12px;
}

.svg-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.toolbar-cart {
  display: flex;
  align-items: center;
}

.toolbar-cart-link {
  width: 48px;
  height: 48px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  cursor: pointer;
  position: relative;
}

.toolbar-group {
  display: flex;
}

.toolbar-group .toolbar {
  margin: 0 32px;
}