.toolbar {
  color: #64748b;
  font-weight: 600;
}

.page-header {
  padding: 20px 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  height: 92px;
  border-bottom: 3px solid #F1F5F9;
}

.toolbar a {
  color: #64748b;
  text-decoration: none;
  font-size: 17px;
}

.toolbar-login {
  padding: 16px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}

.toolbar-login-text {
  font-weight: bold;
  color: var(--clr-main-dark);
  margin-left: 6px;
  font-size: 17px;
}

.toolbar-profil-container {
  border-radius: 4px;
  display: inline-block;
  background-color: white;
  border: 2px solid var(--clr-grey-light);
  position: relative;
  margin-right: 20px;
}

.toolbar-profil-figure {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-profil-container:hover .toolbar-profil-submenu{
  display: block;
}

.toolbar-profil-submenu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 10px 10px 1px #00000020;
  border-radius: 4px;
  z-index: 100;
  border: 2px solid var(--clr-grey-light);
  padding: 8px 0;
}


.toolbar-profil-submenu:hover {
display: block;
}

.toolbar-profil-subtext {
  display: inline-block;
  border-radius: 4px;
  transition: .3s;
  color: var(--clr-main-dark);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 16px;
  width: 100%;
  letter-spacing: 0.03em;
  text-decoration: 2px solid transparent;
}

.toolbar-profil-subtext:hover {
  text-decoration: underline solid var(--clr-cta) 2px; 
}


.toolbar-panier-count {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: var(--clr-cta);
  border-radius: 50px;
  top: calc(50% - 12px);
  right: -12px;
}

.svg-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.new-header-cart {
  width: 50px;
  height: 50px;
  background-color: var(--clr-main-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.toolbar-group {
  display: flex;
}

.toolbar-group .toolbar {
  margin: 0 32px;
}