<div class="page-header">
    <div class="toolbar">
        <a [routerLink]="['/']">
            <img width="48px" height="48px" src="./assets/images/frontend/logo-tent.png" alt="Accueil">
        </a>
    </div>
    <div class="toolbar-group">
        <div class="toolbar"><a class="toolbar-link"
                [routerLink]="['/article-bivouac-rando-ile-reunion']"><span>Blog</span></a></div>
        <div class="toolbar"><a class="toolbar-link"
                [routerLink]="['/location-bivouac-rando-ile-reunion']"><span>Produits</span></a></div>
        <div class="toolbar"><a class="toolbar-link"
                [routerLink]="['/galerie-bivouac-rando-ile-reunion']"><span>Galerie</span></a></div>
        <!-- <div class="toolbar"><a [routerLink]="['/video-bivouac-rando-ile-reunion']"><span>Videos</span></a></div> -->
        <!-- <div class="toolbar"><a [routerLink]="['/map']"><span>Map</span></a></div> -->
        <div class="toolbar"><a class="toolbar-link" [routerLink]="['/contact']"><span>Nous contacter</span></a></div>
    </div>
    
    <div class="toolbar-group">
        <!-- Si connecté -->
        <div *ngIf="isAuth; else visitor">
            <div class="toolbar-profil">
                <div class="toolbar-profil-container">
                    <div class="toolbar-profil-figure"><span class="short-name">{{short_name}}</span></div>
                    <div class="toolbar-profil-submenu">
    
                        <a [routerLink]="['/profil']" class="toolbar-profil-subcontainer">
                            <img class="toolbar-profil-subimage" width="20px" height="20px"
                                src="./assets/images/frontend/account-icon.png" alt="account">
                            <span class="toolbar-profil-subtext">Mon compte</span>
                        </a>
    
                        <div class="toolbar-profil-subcontainer" (click)="Logout()">
                            <img class="toolbar-profil-subimage" width="20px" height="20px"
                                src="./assets/images/frontend/sign-out-icon.png" alt="exit">
                            <span class="toolbar-profil-subtext">Déconnexion</span>
                        </div>
                    </div>
                </div>
    
            </div>
          </div>
          
        <!-- Si non connecté -->
          <ng-template #visitor>
            <div class="toolbar" *ngIf="!isAuth">
                <a [routerLink]="['/authentification']" class="toolbar-login">
                    <img width="24px" height="24px" src="./assets/images/frontend/icon-user.png" alt="login icon">
                    <span class="toolbar-login-text">Connexion</span>
                </a>
            </div>
          </ng-template>

        
        <div class="toolbar-cart">
            <a [routerLink]="['/panier']" class="toolbar-cart-link">
                <img width="24px" height="24px" src="./assets/images/frontend/icon-cart.svg" alt="cart icon">
                <span class="toolbar-panier-count" *ngIf="panier_length > 0">{{panier_length}}</span>
            </a>
        </div>
    </div>

</div>