.product-home-container {
    margin: 50px 10%;
    padding: 25px;
    box-shadow: 0 2px 10px 3px #00000010;
    border-radius: 4px;
    position: relative;
}


.product-home-title {
    font-size: 28px;
    color: var(--clr-main-dark);
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    position: relative;
    width: fit-content;
    margin: auto;
}


.product-home-title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 8px;
    background-color: var(--clr-cta-lighter);
    z-index: -10;
}


.product-home-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
}

.product-home-card {
    width: 300px;
    border: 2px solid var(--clr-grey-light);
    border-radius: 8px;
}

.product-card-header {
    width: 100%;
    height: auto;
    background-color: var(--clr-grey-light);
}

.product-card-image {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
}

.product-card-title {
    display: block;
    font-size: 17px;
    padding: 12px 10%;
    line-height: 150%;
    color: var(--clr-main-dark);
    font-weight: 600;
}