<div class="product-home-container">
    <h2 class="product-home-title">Produits en vedette</h2>
    <div class="product-home-flex">
        <div class="product-home-card">
            <div class="product-card-header">
                <img class="product-card-image" width="300px" height="150px" src="./assets/images/product/dtentes-ile-de-la-reunion-tente-de-toit-fibre-de-verre-03.webp" alt="Image de tente">
            </div>
            <span class="product-card-title">Tente de toît</span>
        </div>
        <div class="product-home-card">
            <span class="product-card-title">Pack Bivouac en duo</span>
        </div>
        <div class="product-home-card">
            <span class="product-card-title">Tente de toît</span>
        </div>
    </div>

</div>