.product-container {
    padding: 20px 10% 20px 10%;
    display: flex;
    flex-wrap: wrap;
}

.product-galerie-container {
    width: 500px;
    min-height: 600px;
}

.galerie-image-main {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.galerie-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.galerie-image-row {
    width: 100%;
    min-height: 100px;
    background-color: var(--clr-grey-light);
    display: flex;
    flex-wrap: wrap;
}

.galerie-image-item {
    width: 100px;
    height: 100%;
}

.galerie-image-pic {
    object-fit: cover;
}

.galerie-video-item {
    width: 100px;
    height: 100%;
}

.product-detail-container {
    width: calc(100% - 500px);
    padding-left: 40px;
}

.product-detail-title {
    font-size: 28px;
    color: var(--clr-main-dark);
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 20px;
}

.product-detail-description {
    font-size: 16px;
    color: var(--clr-main-dark);
    line-height: 150%;
    margin-bottom: 20px;
}

.product-detail-price, .product-detail-weight {
    font-size: 22px;
    color: var(--clr-main-dark);
    line-height: 150%;
    margin-bottom: 10px;
    font-weight: 600;
    border-left: 4px solid var(--clr-cta);
    padding-left: 5px;
}

.product-detail-quantity {
    font-size: 18px;
    color: var(--clr-main-dark);
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.product-detail-quantity-action {
    background-color: #F1F5F9;
    height: 24px;
    font-family: Lexend;
    width: 24px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-main-dark-lighter);
    cursor: pointer;
    border-radius: 4px;
}

.product-detail-action {
    padding: 16px 12px;
    background-color: var(--clr-cta);
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    width: fit-content;
    font-weight: 600;
    cursor: pointer;
}


@media screen and (max-width: 1300px) {

    .product-galerie-container {
        order: 1;
    }

    .product-detail-container {
        order: 0;
        width: 100%;
    }

}

/*youtube modal*/

#youtube-modal {
    width: 500px;
    display: none;
    position: fixed;
    height: 350px;
    top: calc(50vh - 250px);
    left: calc(50vw - 250px);
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 0 0 10000px #00000090;
}

#youtube-modal-close {
    width: 100%;
    height: 50px;
    background-color: var(--clr-main-dark-lighter);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    cursor: pointer;
}

#youtube-modal-title {
    font-size: 20px;
    color: var(--clr-main-dark-lighter);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#youtube-modal-iframe {
    width: 100%;
    height: 300px;
}