<h1 class="product-page-title">Catalogue de Produits</h1>
<div class="product-container">
    <div class="product-card-grid" *ngFor="let product of products">
        <div [title]="product.name + ' details'"
            [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute, product.id]" class="product-grid1">
            <img class="product-card-image" [src]=product.thumbnail>

        </div>
        <div class="product-grid2">
            <a class="product-card-title" [title]="product.name + ' details'"
                [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute, product.id]">{{ product.name
                }}</a>

        </div>
        <div class="product-grid3">
            <a [title]="product.name + ' details'"
                [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute, product.id]"
                class="product-card-description">{{ product.description_short }}</a>

        </div>
        <div class="product-grid4">
            <button class="product-card-louer" (click)="ajouterItem(product)">Louer</button>

        </div>
        <div class="product-grid5">
            <a class="product-card-info" [title]="product.name + ' details'"
                [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute, product.id]">
                Infos
            </a>
        </div>
        <span class="product-card-price">{{ product.price.day }}€ / j</span>

    </div>
</div>
<app-cartshort></app-cartshort>