<form class="search-form" [formGroup]="searchFormComplete">
    <div class="form-group">
        <label class="form-label">Départ</label>
        <input class="form-input" type="date" [min]="defaultDate" formControlName="debut" [value]="defaultStartDate"
            (ngModelChange)="updateEndDate($event)">
    </div>
    <div class="form-group">
        <label class="form-label">Arrivée</label>
        <input class="form-input" type="date" [min]="defaultStartDate" formControlName="fin" [value]="defaultEndDate"
            (ngModelChange)="updateStartDate($event)">
    </div>

    <div class="form-group">
        <label for="relai" class="bar-label" class="form-label">Lieu de prise en charge</label>
        <select id="relai" class="form-input" class="form-input" formControlName="relai">
            <option value="all">Tous</option>
            <option [value]="relais[0].id">{{ relais[0].name}}</option>
            <option [value]="relais[1].id">{{ relais[1].name}}</option>
            <option [value]="relais[2].id">{{ relais[2].name}}</option>
            <option [value]="relais[3].id">{{ relais[3].name}}</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Chercher" class="cta">
    </div>
</form>
<h1 class="product-page-title">Catalogue de Produits</h1>
<div class="product-container">
    <div class="product-card-grid" *ngFor="let product of products">
        <div [title]="product.name + ' details'"
            [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute, product.id]" class="product-grid1">
            <img class="product-card-image" [src]=product.thumbnail>

        </div>
        <div class="product-grid2">
            <a class="product-card-title" [title]="product.name + ' details'"
                [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute, product.id]">{{ product.name
                }}</a>

        </div>
        <div class="product-grid3">
            <a [title]="product.name + ' details'"
                [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute, product.id]"
                class="product-card-description">{{ product.description_short }}</a>

        </div>
        <div class="product-grid4">
            <button class="product-card-louer" (click)="ajouterItem(product)">Louer</button>

        </div>
        <div class="product-grid5">
            <a class="product-card-info" [title]="product.name + ' details'"
                [routerLink]="['/location-bivouac-rando-ile-reunion', product.nameRoute, product.id]">
                Infos
            </a>
        </div>
        <span class="product-card-price">{{ product.price.day }}€ / j</span>

    </div>
</div>
<app-cartshort></app-cartshort>