.product-page-title {
    font-size: 28px;
    color: #040B35;
    font-weight: 700;
    line-height: 150%;
    margin: 20px 7.5% 40px 7.5%;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 7.5%;
}

.product-card-grid {
    width: calc(33.3% - 36px);
    display: grid;
    grid-template-columns: 128px repeat(2, auto);
    grid-template-rows: 48px 100px 48px;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    margin-bottom: 36px;
    box-shadow: 2px 2px 10px 4px #00000010;
    padding: 12px;
    position: relative;
}

.product-grid1 {
    grid-area: 1 / 1 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-grid2 {
    grid-area: 1 / 3 / 2 / 5;
    overflow: hidden;
}

.product-grid3 {
    grid-area: 2 / 3 / 3 / 5;
    overflow: auto;
}

.product-grid4 {
    grid-area: 3 / 3 / 4 / 4;
}

.product-card-title {
    font-family: Lexend;
    font-size: 18px;
    font-weight: 600;
    color: #040B35;
}

.product-card-description {
    color: #333;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.5%;
    letter-spacing: 0.3px;
}

.product-card-louer {
    width: 100%;
    height: 100%;
    background-color: #29afe2;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Lexend;
    cursor: pointer;
    border-radius: 4px;
}

.product-grid5 {
    grid-area: 3 / 4 / 4 / 5;
}

.product-card-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    background-color: #F1F6F9;
    font-weight: 600;
    border-radius: 4px;
    color: #040B35;
    border: none;
}

.product-card-price {
    position: absolute;
    top: -10px;
    left: -10px;
    width: fit-content;
    padding: 12px;
    color: #fff;
    background: linear-gradient(to top left, #162445, #537895 400%);
    border-radius: 4px;
}


@media screen and (max-width: 1600px) {
    
.product-card-grid {
    width: calc(50% - 20px);
    display: grid;
    grid-template-columns: 128px repeat(2, auto);
    grid-template-rows: 48px 80px 48px;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    margin-bottom: 36px;
    box-shadow: 2px 2px 10px 4px #00000010;
    padding: 12px;
    position: relative;
}
}


@media screen and (max-width: 1200px) {
    
    .product-card-grid {
        width: calc(50% - 20px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 160px 32px 78px 48px;
        grid-column-gap: 15px;
        grid-row-gap: 10px;
        margin-bottom: 36px;
        box-shadow: 2px 2px 10px 4px #00000010;
        padding: 12px;
        position: relative;
    }

        .product-grid1 { grid-area: 1 / 1 / 2 / 3; }
        .product-grid2 { grid-area: 2 / 1 / 3 / 3; }
        .product-grid3 { grid-area: 3 / 1 / 4 / 3; }
        .product-grid4 { grid-area: 4 / 1 / 5 / 2; }
        .product-grid5 { grid-area: 4 / 2 / 5 / 3; }
    }

    @media screen and (max-width: 800px) {
        .product-page-title {
            font-size: 22px;

        }
        .product-card-grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 160px auto auto 48px;
            grid-column-gap: 15px;
            grid-row-gap: 10px;
            margin-bottom: 36px;
            box-shadow: 2px 2px 10px 4px #00000010;
            padding: 12px;
            position: relative;
        }
        }