.page-product {
    background: linear-gradient(to bottom right, #09203F, #537895 300%);
    padding: 0 10%;
}

/* Parent GRID */
.page-product-element-recherche {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto) auto 50px;
    grid-column-gap: 0px;
    grid-row-gap: 32px;
}

.page-product-recherche-title {
    font-size: 3.75rem;
    letter-spacing: -.025em;
    line-height: 4.125rem;
    color: #fff;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 3;
    padding-top: 50px;
}


.page-product-recherche-subtitle {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #fff;
    font-weight: 500;
}


.page-product-recherche-bar {
    grid-area: 3 / 1 / 4 / 4;
    background-color: #F1F4F5;
    padding: 20px;
    border-radius: 2px;
    display: flex;
    z-index: 10;
    flex-wrap: wrap;
    margin-right: 10%;
}

.page-product-recherche-bar-location {
    display: flex;
    flex-direction: column;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #cbd5e1;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: calc(40% - 100px);
    max-height: 80px;
}

.page-product-recherche-bar-date {
    display: flex;
    flex-direction: column;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #cbd5e1;
    width: calc(30% - 50px);
    max-height: 80px;
}

.page-product-recherche-bar-date~.page-product-recherche-bar-date {

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}

.page-product-recherche-bar-bouton {
    padding: 12px;
    color: #fff;
    background-color: #d92465;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    max-height: 80px;
    width: 180px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20px;
}

.page-product-recherche-image {
    grid-area: 1 / 3 / 5 / 5;
    background-image: url(../../../assets/images/frontend/users-and-van-620x520.webp);
    background-position: right;
    background-repeat: no-repeat;
}

.bar-input {
    border: none;
    outline: none;
    border-radius: 4px;
    color: #334155;
    font-weight: 500;
    font-size: 16px;
    font-family: Lexend;
    padding: 6px;
}

.bar-label {
    color: #94a3b8;
    font-size: .75rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    padding: 6px 3px 0px 6px;
}

::placeholder {
    color: #334155;
    font-weight: 500;
    font-size: 16px;
    font-family: Lexend;
}

/* FIN de GRID */
@media screen and (min-width: 1100px) and (max-width: 1450px) {
    .page-product-element-recherche {
        grid-template-columns: repeat(3, 1fr) .1fr;

    }
    .page-product-recherche-title {
        font-size: 44px;
        line-height: 60px;
    }

    .page-product-recherche-subtitle {
        font-size: 21px;
        color: #fff;
    }   
}
@media screen and (max-width: 1100px) {

    .page-product-element-recherche {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 30px;
        grid-column-gap: 0px;
        grid-row-gap: 16px;
    }
    .page-product-recherche-title {
        font-size: 36px;
        line-height: 48px;
    }
    .page-product-recherche-subtitle {
        font-size: 18px;
        color: #fff;
        line-height: 30px;
    }   
    .page-product-recherche-bar {
        flex-direction: column;
        margin-right: 0%;
        padding: 12px;
    }

    .page-product-recherche-bar-location {
        padding: 6px;
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        border-bottom-left-radius: 0;
        border-right: 1px solid #cbd5e1;

    }

    .page-product-recherche-bar-date {
        padding: 6px;
        background-color: #fff;
        border: 1px solid #cbd5e1;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0;
        width: 100%;
    }

    .page-product-recherche-bar-bouton {
        width: 100%;
        margin-left: 0;
        margin-top: 12px;
    }

    .page-product-recherche-image {
        display: none;
    }
}