<div class="page-product">
    <div class="page-product-element-recherche">
        <h1 class="page-product-recherche-title"><span>{{ configurations[0].text}}</span><br>
            <span>{{ configurations[1].text}}</span>
        </h1>
        <h2 class="page-product-recherche-subtitle">{{ configurations[5].text}}</h2>
        <form class="page-product-recherche-bar" (ngSubmit)="onSubmit()" [formGroup]="searchForm">

            <div class="page-product-recherche-bar-location">

                <label for="relai" class="bar-label">Lieu de prise en charge</label>
                <select id="relai" class="bar-input" formControlName="relai">
                    <option value="Selectionner" aria-disabled>D'où partez vous ?</option>
                    <option [value]="relais[0].id">{{ relais[0].name}}</option>
                    <option [value]="relais[1].id">{{ relais[1].name}}</option>
                    <option [value]="relais[2].id">{{ relais[2].name}}</option>
                    <option [value]="relais[3].id">{{ relais[3].name}}</option>
                </select>
            </div>

            <div class="page-product-recherche-bar-date">
                <label class="bar-label">Départ</label>
                <input type="date" placeholder="Départ" class="bar-input" formControlName="debut"
                    [min]="defaultStartDate" [(ngModel)]="defaultStartDate">
            </div>
            <div class="page-product-recherche-bar-date">
                <label class="bar-label">Retour</label>
                <input type="date" placeholder="Retour" class="bar-input" formControlName="fin" [min]="defaultEndDate"
                    [(ngModel)]="defaultEndDate">
            </div>

            <input type="submit" class="page-product-recherche-bar-bouton" value="Rechercher">
        </form>
        <div class="page-product-recherche-image"></div>
    </div>


</div>

<div class="homepage-extrabar">Informations de livraison</div>
<app-blog></app-blog>

<app-galerieimage></app-galerieimage>