<div class="cartshort-container">
    <h3 class="cartshort-title">Mon panier</h3>
    <div class="cartshort-content" *ngIf="items.length > 0">
        <div class="cartshort-span-container">
            <p>Mes dates    {{ panier.date_start }}
                {{ panier.date_end }}</p>
                <p>Lieu de livraison {{ panier.id_relai }}</p>
            <p class="cartshort-subtitle">Ma liste :</p>
            <p class="cartshort-count">count produits</p>
        </div>

        <div *ngFor="let item of items let i=index" class="cartshort-row">
            <div class="cartshort-row-image">
                <img src="{{item.thumbnail}}" width="64px" height="64px" alt="{{ item.name }}">
            </div>
            <div class="cart-short-row-side">
                <div class="cartshort-row-name">{{ item.name }}</div>
                <div class="cartshort-row-price">{{ item.price }} €</div>
                <div class="cartshort-row-actions">
                    <button class="cartshort-row-delete" aria-label="Remove" (click)="clearOrderElement(i)">
                        x
                    </button>
                </div>
            </div>

        </div>
        <div class="cartshort-extra">Garantie et caution *</div>
        <div class="cartshort-action">Valider mon panier</div>
        {{ totalTtc }}
    </div>

</div>