<h1 class="page-title">Contactez-nous</h1>

<div class="contact-page-container">
    <form id="contact-form" (ngSubmit)="onSubmit()" class="contact-page-form" [formGroup]="contactForm">
        <div class="contact-page-form-design"></div>
        <h2 class="contact-form-title">Formulaire de contact</h2>

        <div class="contact-page-form-group">
            <label for="" class="form-label">Nom complet</label>
            <input type="text" class="form-input" placeholder="..." name="user_name" formControlName="user_name"
                [class.invalid]="contactForm.get('user_name')?.invalid && (contactForm.get('user_name')?.touched || contactForm.get('user_name')?.dirty || isSubmited)">
            <span
                *ngIf="contactForm.get('user_name')?.invalid && (contactForm.get('user_name')?.touched || contactForm.get('user_name')?.dirty || isSubmited)"
                class="required-span">
                <img width="24px" height="24px" src="./assets/images/frontend/warning-icon.png" alt="warning">
                Ce champ est requis</span>
        </div>
        <div class="contact-page-form-group">
            <label for="" class="form-label">Adresse e-mail</label>
            <input type="text" class="form-input" placeholder="..." name="email" formControlName="email"
                [class.invalid]="contactForm.get('email')?.invalid && (contactForm.get('email')?.touched || contactForm.get('email')?.dirty || isSubmited)">
            <span
                *ngIf="contactForm.get('email')?.hasError('required') && (contactForm.get('email')?.touched || contactForm.get('email')?.dirty || isSubmited)"
                class="required-span">
                <img width="24px" height="24px" src="./assets/images/frontend/warning-icon.png" alt="warning">
                Ce champ est requis</span>
            <span
                *ngIf="contactForm.get('email')?.hasError('email') && (contactForm.get('email')?.touched || contactForm.get('email')?.dirty || isSubmited)"
                class="required-span">Format d'email non valide</span>
        </div>
        <div class="contact-page-form-group">
            <label for="" class="form-label">Numéro de téléphone</label>
            <input type="text" class="form-input" placeholder="..." name="telephone" formControlName="telephone"
                [class.invalid]="contactForm.get('telephone')?.invalid && (contactForm.get('telephone')?.touched || contactForm.get('telephone')?.dirty || isSubmited)">
            <span
                *ngIf="contactForm.get('telephone')?.invalid && (contactForm.get('telephone')?.touched || contactForm.get('telephone')?.dirty || isSubmited)"
                class="required-span">
                <img width="24px" height="24px" src="./assets/images/frontend/warning-icon.png" alt="warning">
                Ce champ est requis</span>
        </div>
        <div class="contact-page-form-group">
            <label for="" class="form-label">Objet</label>
            <input type="text" class="form-input" placeholder="..." name="object" formControlName="object"
                [class.invalid]="contactForm.get('object')?.invalid && (contactForm.get('object')?.touched || contactForm.get('object')?.dirty || isSubmited)">
            <span
                *ngIf="contactForm.get('object')?.invalid && (contactForm.get('object')?.touched || contactForm.get('object')?.dirty || isSubmited)"
                class="required-span">
                <img width="24px" height="24px" src="./assets/images/frontend/warning-icon.png" alt="warning">
                Ce champ est requis</span>
        </div>

        <div class="contact-page-form-group-large">
            <label for="" class="orm-label">Message</label>
            <input type="text" class="form-input" placeholder="..." name="message" formControlName="message"
                [class.invalid]="contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || contactForm.get('message')?.dirty || isSubmited)">
            <span
                *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || contactForm.get('message')?.dirty || isSubmited)"
                class="required-span">
                <img width="24px" height="24px" src="./assets/images/frontend/warning-icon.png" alt="warning">
                Ce champ est requis</span>
        </div>
        <button type="submit" class="form-submit" [disabled]="isSending"><span *ngIf="!isSending">Envoyer</span><span *ngIf="isSending"><img class="loading-spinner" width="24px" height="24px" src="./assets/images/frontend/loading-spinner-white.png" alt="loading spinner"></span></button>


    </form>
    <div class="contact-data">
        <h2 class="contact-data-title">Nos coordonnées</h2>

        <div class="contact-page-coordonnee-group">
            <a href="tel:0692742958" class="contact-page-coordonnee-text">
                <div class="icon-container">
                    <img class="coordonnee-icon" src="./assets/images/frontend/icon-smartphone.png" width="44px"
                        height="44px" alt="telephone">
                </div>
                <span>06 92 74 29 58</span>
            </a>
        </div>
        <div class="contact-page-coordonnee-group">
            <a href="mailto:location.tente.reunion@gmail.com" class="contact-page-coordonnee-text">
                <div class="icon-container">
                    <img class="coordonnee-icon" src="./assets/images/frontend/icon-email.png" width="44px"
                        height="44px" alt="email">
                </div>
                <span>location.tente.reunion@gmail.com</span>
            </a>
        </div>
        <div class="contact-page-coordonnee-group">
            <a target="_blank" href="https://www.google.com/maps/@-21.3602509,55.523351,17z?entry=ttu"
                class="contact-page-coordonnee-text">
                <div class="icon-container">
                    <img class="coordonnee-icon" src="./assets/images/frontend/icon-location.png" width="44px"
                        height="44px" alt="adresse">
                </div>
                Lizine
                <span>Usine 97410 Grand Bois - Saint Pierre Ile de la Réunion</span>
            </a>
        </div>
    </div>
</div>