.contact-page-title {
    font-size: 28px;
    color: var(--clr-main-dark);
    font-weight: 700;
    margin: 20px 7.5% 40px 7.5%;
}

.contact-page-container {
    padding: 0 7.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-data {
    width: calc(50% - 20px);
}

.contact-page-form {
    width: calc(50% - 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
}

.contact-page-form-group {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    margin-bottom: 32px;
}

.contact-page-form-label {
    font-size: 18px;
    color: var(--clr-main-dark);
    font-weight: 600;
    margin-bottom: 12px;
}

.contact-page-form-group-large {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

::placeholder {
    color: #555;
    font-size: 16px;
    font-family: Lexend;
}

.contact-page-subtitle {
    font-size: 22px;
    color: var(--clr-main-dark);
    font-weight: 700;
    margin: 20px 7.5%;
    border-left: 4px solid var(--clr-cta);
    padding-left: 4px;
}

.icon-container {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: var(--clr-grey-light);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.contact-page-coordonnee-text {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.invalid {
    border-bottom: 2px solid #db1f1f;
}

.contact-page-form-submit {
    padding: 12px;
    border: none;
    background: var(--clr-cta);
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
    font-family: Lexend;
    cursor: pointer;
    border-radius: 4px;
}

.required-span {
    padding: 6px 0;
    font-size: 16px;
    font-weight: 600;
    color: #535a69;
}

@media screen and (max-width:1250px) {

    .contact-data {
        width: 100%;
    }

    .contact-page-form {
        width: 100%;
    }
}


@media screen and (max-width:750px) {

    .contact-page-form-group {
        width: 100%;
        margin-bottom: 20px;
    }
}