.login-title {
  font-size: 30px;
  color: var(--clr-main-dark);
  font-weight: 700;
  margin-bottom: 12px;
}

.login-subtitle {
  font-size: 18px;
  color: #64748B;
  font-weight: 500;
  margin-bottom: 40px;
}

.login-form {
  width: 100%;
  z-index: 20;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  max-width: 400px;
}

.login-form-input:focus {
  border: 2px solid var(--clr-cta);
  outline: none;
}

.error-message {
  font-size: 14px;
  font-weight: 600;
  color: #64748B;
  padding: 10px 2px;
}

.invalid {
  border-bottom: 2px solid var(--clr-error);
}

#image-preview {
  border-radius: 4px;
}