<h3 class="blog-title">Nos derniers articles</h3>
<div class="blog-grid">
    <div class="blog1">
        <div class="blog-main-article">
            <img class="blog-main-article-thumbnail" src="./assets/images/frontend/midjourney-hiking.webp" alt="hiking">
            <h4 class="blog-main-article-title">Bivouac au cœur de la nature réunionnaise</h4>
        </div>
    </div>
    <div class="blog2">
        <div class="blog-small-article">
            <img class="blog-small-article-thumbnail" src="./assets/images/frontend/midjourney-surf.webp" alt="surf">
            <h5 class="blog-small-article-title">Les vagues spectaculaires de La Réunion pour les passionnés de surf
            </h5>
        </div>
    </div>
    <div class="blog3">
        <div class="blog-small-article">
            <img class="blog-small-article-thumbnail" src="./assets/images/frontend/midjourney-deep-sea.webp"
                alt="deep sea">
            <h5 class="blog-small-article-title">Plongée sous-marine à La Réunion : Explorez les fonds marins
                d'exception</h5>
        </div>
    </div>
    <div class="blog4">
        <div class="blog-small-article">
            <img class="blog-small-article-thumbnail" src="./assets/images/frontend/midjourney-hiking-couple.webp"
                alt="hiking couple">
            <h5 class="blog-small-article-title">Randonnées inoubliables à La Réunion : sentiers et paysages à couper le
                souffle</h5>
        </div>
    </div>
    <div class="blog5">
        <div class="blog-small-article">
            <img class="blog-small-article-thumbnail" src="./assets/images/frontend/midjourney-beach-palms.webp"
                alt="deep sea">
            <h5 class="blog-small-article-title">Plages Envoûtantes à La Réunion : Découvrez le Paradis des Baigneurs
            </h5>
        </div>
    </div>
    <div class="blog6">
        <div class="blog-more">+</div>
    </div>
</div>