.blog-title {
    font-size: 28px;
    color: var(--clr-main-dark);
    font-weight: 700;
    line-height: 150%;
    margin: 20px 7.5% 0 7.5%;
}
.article-page-title {
    font-size: 28px;
    color: var(--clr-main-dark);
    font-weight: 700;
    line-height: 150%;
    margin: 20px 7.5% 0 7.5%;
}

.article-page-tag-container {
    font-size: 20px;
    color: #535a69;
    font-weight: 500;
    padding: 12px 7.5%;
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
}

.article-page-tag-item {
    padding: 6px 12px;
    background-color: #F1F5F9;
    border-radius: 4px;
    color: #64748b;
    font-size: 14px;
    width: fit-content;
    font-weight: 600;
    margin-right: 12px;
    cursor: pointer;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 7.5%;

}

.article-card {
    width: calc(20% - 20px);
    max-width: 600px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 1px #00000010;
    margin-bottom: 40px;
    height: fit-content
}

.article-card-header {
    width: 100%;
    height: 160px;
    background-color: #64748b;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 12px;
    position: relative;
}

.article-card-timer {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 5px #222;
    padding: 6px;
    border-radius: 100px;
    background-color: var(--clr-main-dark)02;
}

.article-card-title {
    font-size: 17px;
    padding: 8px 20px;
    line-height: 150%;
    color: #222;
}

.article-card-description {
    font-size: 15px;
    padding: 8px 20px;
    margin-bottom: 16px;
    color: #535a69;
    line-height: 150%;

}

.article-card-tags {
    transition: .3s ease-in;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.article-card:hover .article-card-tags {
    opacity: 1;
}

.article-card-tags-item {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #f1f5f9;
    color: #64748b;
    font-weight: 600;
    margin-right: 6px;
    cursor: pointer;
}

.article-card-header-image {
    width: 100%;
    height: 160px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    object-fit: cover;
}

.article-card-link {
    background-color: var(--clr-cta)00;
    color: var(--clr-cta);
    font-size: 15px;
    padding: 12px 18px;
    border-radius: 4px;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--clr-cta);
    margin: 0 20px 20px;
}

.article-show-more {
    padding: 12px;
    margin: 0 7.5%;
    background-color: var(--clr-cta);
    outline: none;
    border: none;
    font-size: 24px;
    color: #fff;
    line-height: 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

@media screen and (max-width:2000px) {

    .article-card {
        width: calc(25% - 20px);
    }
}

@media screen and (max-width:1600px) {

    .article-card {
        width: calc(33% - 20px);
    }
}

@media screen and (max-width:1300px) {

    .article-card {
        width: calc(50% - 20px);
    }
}


@media screen and (max-width:760px) {

    .article-card {
        width: 100%;
        max-width: 100%;
    }
}