<div class="notfound-grid">
    <h1 class="notfound-title">Page introuvable</h1>
<h2 class="notfound-404">404</h2>
<div class="notfound-text">Oops! Impossible de trouver la page que vous recherchez. Revenez en arrière ou poursuivez vers l' accueil pour continuer votre navigation.</div>
<div class="notfound-actions"><a [routerLink]="['/']" class="cta">Accueil</a></div>
<div class="notfound-thumbnail"><img class="notfound-image" width="300px" height="300px" src="./assets/images/frontend/404.svg" alt="Not found picture"></div>
<div class="notfound-social">facebook, likedin, etc</div>
</div>
