@import "~leaflet/dist/leaflet.css";
@import '~ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend;
}

:root {
    --clr-main-dark: #0E1D31;
    --clr-main-dark-lighter: #0E1D31;
    --clr-background: #ffffff;
    --clr-cta: #EE4865;
    --clr-cta-darker: #be3a51;
    --clr-cta-lighter: #f37f93;
    --clr-grey-dark: rgb(74, 85, 100);
    --clr-grey-light: #F1F6F9;
    --clr-error: #e8661a;
}

.layout {
    padding: 25px 10%;
}

.page-title {
    font-size: 28px;
    color: var(--clr-main-dark);
    font-weight: 700;
    margin: 40px 10%;
    line-height: 150%;
}

.product-detail-subtitle {
    font-size: 22px;
    color: var(--clr-main-dark);
    line-height: 150%;
    border-left: 4px solid var(--clr-cta);
    margin-bottom: 8px;
    margin-top: 16px;
    padding-left: 5px;
}

.product-detail-list {
    margin-left: 20px;
    list-style-type: circle;
    color: var(--clr-main-dark);
}

.date-input {
    border: none;
    outline: none;
    border-radius: 4px;
    color: var(--clr-main-dark);
    font-weight: 500;
    font-size: 16px;
    font-family: Lexend;
    padding: 6px;
}


.cta {
    padding: 12px 16px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: white;
    background-color: var(--clr-cta);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.underline-cta {
    padding: 12px 16px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: var(--clr-main-dark);
    background-color: var(--clr-grey-light);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.form-input {
    width: 100%;
    height: 48px;
    border: 2px solid var(--clr-grey-light);
    border-bottom: 2px solid var(--clr-main-dark);
    padding: 6px;
    border-radius: 4px;
}


.form-label {
    font-size: 17px;
    font-weight: 600;
    color: var(--clr-main-dark);
    margin-bottom: 12px;
}

.form-submit {
    margin-top: 24px;
    padding: 12px 16px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: white;
    background-color: var(--clr-cta);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.toast-success {
    background-color: var(--clr-cta);
}

.toast-error {
    background-color: var(--clr-error);
}

.toast-top-right {
    top: 100px;
    right: 10%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.loading-spinner {
    animation: rotate 2s linear infinite;
}


.loading-text {
    padding-left: 12px;
}