.article-detail-title {
    font-size: 28px;
    color: #222;
    font-weight: 700;
    margin: 20px 7% 40px 7%;

}

.article-detail-subtitle {
    font-size: 22px;
    color: #222;
    font-weight: 700;
    margin: 20px 7%;
    border-left: 4px solid #29afe2;
    padding-left: 4px;
}

.article-detail-text {
    font-size: 16px;
    padding: 8px 0px;
    margin: 0 7%;
    color: #333;
}

.article-detail-infobar {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 7%;
}

.article-detail-infobar-item {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #f1f5f9;
    color: #64748b;
    font-weight: 600;
    margin: 0 0 6px 6px;
    cursor: pointer;
}